.ant-carousel .slick-slide {
    /* text-align: center;
    height: 160px;
    line-height: 160px; */
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide img{
    width: 100%;
  }
  .ant-carousel .slick-slide a{
    position: relative;
  }
  .ant-carousel .slick-slide h2 {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 876px;
  }